.CardContainer {
    display: flex;
    justify-content: center;

    position: relative;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    margin-top: 30px;
}

.CardContainer-nextCard {
    position: absolute;
    z-index: -1;
}

.CardContainer-transition {
    opacity: 1;
}

.CardContainer-transitionActive {
    opacity: 0.01;
    transition: opacity 300ms linear;
}

.CardContainer-noCards {
    margin-top: 30px
}
